.productimage{
    border: 1px solid gray;
    margin-bottom: 10px;
}

/**********************mycollection****************************/
.mycollectionphoto{
    border: 1px solid gray;
    margin-bottom: 10px;
    
}
